# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# Make PHP code look like other code types
AddType application/x-httpd-php .asp .py .pl
